<nav class="site-nav">
	<ul id="nav">
		<li class="nav-item">
			<a ng-href="/#/" class="nav-link" ng-class="{active: index == 1, current: path == 'home' && index == 0}" ng-click="scrollTo($event, 1)">Главная</a>
		</li>
		<li class="nav-item">
			<a ng-href="/#/photos" class="nav-link" ng-class="{active: index == 2, current: path == 'photos'}" ng-click="scrollTo($event, 2)">Фотографии</a>
		</li>
		<li class="nav-item">
			<a ng-href="/#/blog" class="nav-link" ng-class="{active: index == 3, current: path == 'blog'}" ng-click="scrollTo($event, 3)">Блог</a>
		</li>
		<li class="nav-item">
			<a ng-href="/#/cv" class="nav-link" ng-class="{active: index == 4, current: path == 'cv'}" ng-click="scrollTo($event, 4)">Обо мне</a>
		</li>
		<li class="nav-item">
			<a ng-href="/#/contacts" class="nav-link" ng-class="{active: index == 5, current: path == 'contact'}" ng-click="scrollTo($event, 5)">Контакты</a>
		</li>
	</ul>
	<a ng-href="#" class="toggleNav" ng-click="toggleNav($event)">
		<span class="toggleNav-line"></span>
		<span class="toggleNav-line"></span>
		<span class="toggleNav-line"></span>
	</a>
</nav>