.admin-form {
	padding-top: 20px;
	position: relative;
	overflow: hidden;
	fieldset {
		float: left;
		width: 50%;
		padding: 0 10px;
		box-sizing: border-box;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	hr {
		border: none;
		border-top: 1px solid #202020;
		margin: 40px 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.status {
		font-size: 14px;
		line-height: 18px;
		padding: 0 !important;
		margin-bottom: 20px;
		text-align: left;
		text-transform: uppercase;
		&.draft {
			span {
				color: #f00;
				font-weight: 400;
			}
		}
		&.published {
			span {
				color: #067c00;
				font-weight: 400;
			}
		}
		.date {
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
			display: inline !important;
			border-bottom: none !important;
			color: #202020 !important;
			font-weight: 400;
		}
	}
	.form-row {
		margin-top: 20px;
		&:first-child {
			margin-top: 0;
		}
		@include clearfix;
		.form-row-item {
			display: inline-block;
			vertical-align: middle;
			margin-right: -3px;
			width: 50%;
			position: relative;
		}
		.ex-tags {
			position: absolute;
			z-index: 1;
			background: rgba(255,255,255,.9);
			-webkit-box-shadow: inset 0 0 1px 0 #202020;
			box-shadow: inset 0 0 1px 0 #202020;
			left: 0;
			right: 0;
			top: 100%;
			margin-top: 1px;
			text-align: left;
			overflow: auto;
			max-height: 150px;
			.ex-tag {
				cursor: pointer;
				padding: 5px 10px;
				text-transform: none;
				&:hover,
				&.active {
					color: #fff;
					background: #ff5e00;
				}
			}
		}
		input[type="text"] {
			border: none;
			border-bottom: 1px solid #cacaca;
			padding: 10px;
			box-sizing: border-box;
			width: 100%;
			text-transform: uppercase;
			font-family: 'Roboto Condensed', sans-serif;
			color: #202020;
			font-size: 18px;
			line-height: 24px;
			font-weight: 300;
			vertical-align: top;
			@include transition($property: border-color, $duration: .25s);
			&:focus {
				border-color: #202020;
			}
		}
		textarea {
			border: 1px solid #cacaca;
			padding: 10px;
			box-sizing: border-box;
			width: 100%;
			font-family: 'Roboto Condensed', sans-serif;
			color: #202020;
			font-size: 18px;
			line-height: 24px;
			font-weight: 300;
			resize: none;
			height: 100px;
			vertical-align: top;
			@include transition($property: border-color, $duration: .25s);
			&:focus {
				border-color: #202020;
			}
		}
		.newAlbum-image {
			position: relative;
			padding-top: 52.65%;
			background: #e4e4e4;
			cursor: pointer;
			@include transition($property: background, $duration: .25s);
			&:hover {
				background: #ff5e00;
			}
			svg {
				position: absolute;
				left: 50%;
				top: 0;
				bottom: 0;
				height: 100%;
				width: 100px;
				margin-left: -50px;
				fill: #fff;
			}
			&.hasImage {
				padding: 0;
				background: none;
				&:hover {
					background: #cacaca !important;
				}
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					background: rgba(32,32,32,.9);
					opacity: 0;
					@include transition($property: opacity, $duration: .25s);
				}
				svg {
					opacity: 0;
					@include transition($property: opacity, $duration: .25s);
				}
				&:hover {
					&:before {
						opacity: 1;
					}
					svg {
						opacity: 1;
					}
				}
			}
			&.isLoading {
				padding: 0;
				background: none;
				min-height: 250px;
				@include transition($property: none, $duration: 0);
				&:hover {
					background: #fff !important;
				}
				svg {
					display: none;
				}
			}
			input[type="file"],
			+ input[type="file"] {
				position: absolute;
				z-index: -9999;
				opacity: 0;
			}
		}
		.btn {
			color: #fff;
			background: #202020;
			border: none;
			cursor: pointer;
			padding: 7px 15px;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 18px;
			line-height: 24px;
			text-transform: uppercase;
			font-weight: 300;
			float: right;
			outline: 0;
			text-decoration: none;
			@include transition($property: background, $duration: .25s);
			&:hover {
				background: #ff5e00;
			}
			&.btn-removeAll {
				&:hover {
					background: #f00;
				}
			}
			&.disabled {
				cursor: default;
				background: #cacaca;
			}
			&.btn-publish {
				&:hover {
					background: #067c00;
				}
			}
			&.btn-unpublish {
				&:hover {
					background: #f00;
				}
			}
			&.btn-image {
				width: 35px;
				height: 35px;
				background: none !important;
				padding: 0 !important;
				&.btn-link {
					svg {
						fill: #337ab7;
					}
				}
				&.btn-save {
					svg {
						fill: #067c00;
					}
				}
				svg {
					width: 30px;
					height: 30px;
					opacity: .5;
					@include transition($property: opacity, $duration: .25s);
				}
				&:hover {
					svg {
						opacity: 1;
					}
				}
				&.disabled {
					svg {
						fill: #cacaca;
						opacity: 1;
					}
				}
			}
		}
	}
	.new-tags {
		text-align: left;
		text-transform: none;
		padding-top: 20px;
		overflow: hidden;
		.new-tag {
			cursor: pointer;
			float: left;
			clear: left;
			color: #202020;
			&:hover {
				color: #ff5e00;
			}
			span {
				color: #ff5e00;
				font-weight: 700;
			}
		}
	}
}
.admin-photos,
.admin-album-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal; 
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	flex-direction: row;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	li {
		width: 25%;
		padding: 0 20px;
		box-sizing: border-box;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		margin-bottom: 40px;
		a {
			text-decoration: none;
			display: block;
			&:hover {
				.image-holder {
					-webkit-transform: scale(1) translateZ(0);
					transform: scale(1) translateZ(0);
				}
			}
		}
		.image-holder {
			margin-bottom: 10px;
			height: 200px;
			overflow: hidden;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			border-radius: 100%;
			position: relative;
			z-index: 1;
			-webkit-transform: scale(.9) translateZ(0);
			transform: scale(.9) translateZ(0);
			@include transition($property: transform, $duration: .25s);
		}
		&.draft {
			> a {
				opacity: .5;
			}
		}
		&:nth-child(4n + 1) {
			&:not(:first-child) {
				&.new-album {
					width: 100%;
				}
			}
		}
		&.new-album {
			margin-bottom: 0;
			+ .new-album {
				display: none;
			}
			.image-holder {
				.image-placeholder {
					height: 100%;
					position: relative;
					svg {
						position: absolute;
						fill: #202020;
						width: 30px;
						height: 30px;
						top: 50%;
						left: 50%;
						margin-top: -15px;
						margin-left: -15px;
						-webkit-transform: rotate(0);
						transform: rotate(0);
						@include transition($property: (transform, fill), $duration: .25s);
					}
				}
			}
			&:hover {
				.image-holder {
					.image-placeholder {
						svg {
							fill: #ff5e00;
							-webkit-transform: rotate(180deg);
							transform: rotate(180deg);
						}
					}
				}
			}
			input[type="file"] {
				position: absolute;
				z-index: -9999;
				opacity: 0;
			}
		}
		.btn-remove {
			position: absolute;
			right: 20px;
			top: 0;
			svg {
				width: 20px;
				height: 20px;
				fill: #f00;
				-webkit-transform: rotate(0);
				transform: rotate(0);
				@include transition($property: transform, $duration: .25s);
			}
			&:hover {
				svg {
					-webkit-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
		}
	}
	.modal {
		color: #202020;
	}
}
.admin-photos,
.album-info {
	.btn-remove {
		position: absolute;
		right: 20px;
		top: 0;
		svg {
			width: 20px;
			height: 20px;
			fill: #f00;
			-webkit-transform: rotate(0);
			transform: rotate(0);
			@include transition($property: transform, $duration: .25s);
		}
		&:hover {
			svg {
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}
}
.admin-album-list {
	position: relative;
}
.photo-desc {
	text-transform: none;
	color: #888;
	margin-top: 10px;
}
.modal {
	.item-overlay {
		left: -20px;
		top: -80px;
		right: -20px;
		bottom: -40px;
		border-radius: 0 0 4px 4px;
		background: rgba(255,255,255,.9);
		svg {
			stroke: #ff5e00;
		}
	}
}
.tags-input {
	text-transform: none !important;
}
.photo-tags {
	text-transform: none;
	color: #202020;
	margin-top: 10px;
	.photo-tag {
		display: inline;
		&:before {
			content: ', ';
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
		span {
			color: #ff5e00;
			font-weight: 700;
		}
	}
}
.spinner {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHZpZXdCb3g9IjAgMCAzOCAzOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHJva2U9IiNmZjVlMDAiPiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSIgc3Ryb2tlLXdpZHRoPSIyIj4gICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS1vcGFjaXR5PSIuNSIgY3g9IjE4IiBjeT0iMTgiIHI9IjE4Ii8+ICAgICAgICAgICAgPHBhdGggZD0iTTM2IDE4YzAtOS45NC04LjA2LTE4LTE4LTE4Ij48L3BhdGg+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=);
	background-position: 50% 50%;
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 120px;
	top: 120px;
	margin: -45px 0 0 -25px;
	background-repeat: no-repeat;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: rotating 1s linear infinite;
	-moz-animation: rotating 1s linear infinite;
	-ms-animation: rotating 1s linear infinite;
	-o-animation: rotating 1s linear infinite;
	animation: rotating 1s linear infinite;
}
.spinner-label {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
	color: #ff5e00;
	text-transform: none;
}
.newAlbum-image .spinner {
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
}
.spinner-item .spinner {
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
