.site-nav {
	position: fixed;
	z-index: 9999;
	text-transform: uppercase;
	left: 0;
	top: 0;
	#nav {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		.nav-item {
			padding: 9px 0;
			.nav-link {
				color: #fff;
				text-shadow: 0 0 3px rgba(0,0,0,.75);
				text-decoration: none;
				@include transition($property: color, $duration: .25s);
				&:hover,
				&.active,
				&.current {
					color: #ff5e00;
				}
			}
		}
	}
	&:not(.home-nav) {
		#nav {
			position: fixed;
			left: -200px;
			top: 0;
			bottom: 0;
			padding: 105px 40px 20px;
			background: rgba(32,32,32,.9);
			z-index: 99;
			@include transition($property: left, $duration: .25s);
		}
	}
	&.home-nav {
		height: 210px;
		top: 50%;
		margin-top: -105px;
		left: 40px;
		@include respond-to(tablet) {
			#nav {
				position: fixed;
				left: -200px;
				top: 0;
				bottom: 0;
				padding: 105px 40px 20px;
				background: rgba(32,32,32,.9);
				z-index: 99;
				@include transition($property: left, $duration: .25s);
			}
		}
	}
	.toggleNav {
		display: none;
		position: fixed;
		top: 40px;
		left: 40px;
		width: 20px;
		height: 20px;
		z-index: 99;
		.toggleNav-line {
			display: block;
			height: 2px;
			background: #202020;
			margin-bottom: 3px;
			transform: rotate(0);
			opacity: 1;
			@include transition($property: (transform, opacity, margin, background), $duration: .25s);
		}
		@include respond-to(tablet) {
			display: block;
			top: 32px;
		}
	}
	&:not(.home-nav) {
		.toggleNav {
			display: block;
			&:before {
				content: '';
				background: #fff;
				border-radius: 100%;
				position: absolute;
				width: 40px;
				height: 40px;
				left: -10px;
				top: -13.5px;
				z-index: -1;
				opacity: 1;
				@include transition($property: opacity, $duration: .25s);
			}
		}
	}
	&.home-nav {
		.toggleNav {
			.toggleNav-line {
				background: #fff;
			}
		}
	}
	&.active {
		.toggleNav {
			&:before {
				opacity: 0;
			}
		}
		&:not(.home-nav) {
			#nav {
				left: 0;
			}
			.toggleNav {
				.toggleNav-line {
					background: #fff;
					&:first-child {
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						margin-top: 5px;
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
						margin-top: -10px;
					}
				}
			}
		}
		&.home-nav {
			@include respond-to(tablet) {
				#nav {
					left: 0;
				}
				.toggleNav {
					.toggleNav-line {
						background: #fff;
						&:first-child {
							-webkit-transform: rotate(45deg);
							transform: rotate(45deg);
							margin-top: 5px;
						}
						&:nth-child(2) {
							opacity: 0;
						}
						&:last-child {
							-webkit-transform: rotate(-45deg);
							transform: rotate(-45deg);
							margin-top: -10px;
						}
					}
				}
			}
		}
	}
	.onlyErrorPage {
		display: none;
	}
}
