<header>
	<site-logo></site-logo>
	<site-nav></site-nav>
</header>
<site-breadcrumbs></site-breadcrumbs>
<site-search></site-search>
<div class="site-album">
	<h2>Название альбома</h2>
	<div class="album-slider">
		<ul class="slides">
			<li class="album-slider-item">
				<div class="album-slider-item-inner">
					<img id="img01" src="../client/site/images/album/img01.jpg" ng-click="goToImage('/photos/album_name/01')"/>
				</div>
				<h3>Название фотографии</h3>
				<p>Описание фотографии</p>
				<div class="site-tags"></div>
			</li>
			<li class="album-slider-item">
				<div class="album-slider-item-inner">
					<img id="img02" src="../client/site/images/album/img02.jpg" ng-click="goToImage('/photos/album_name/01')"/>
				</div>
				<h3>Название фотографии</h3>
				<p>Описание фотографии</p>
				<div class="site-tags"></div>
			</li>
			<li class="album-slider-item">
				<div class="album-slider-item-inner">
					<img id="img03" src="../client/site/images/album/img03.jpg" ng-click="goToImage('/photos/album_name/01')"/>
				</div>
				<h3>Название фотографии</h3>
				<p>Описание фотографии</p>
				<div class="site-tags"></div>
			</li>
			<li class="album-slider-item">
				<div class="album-slider-item-inner">
					<img id="img04" src="../client/site/images/album/img04.jpg" ng-click="goToImage('/photos/album_name/01')"/>
				</div>
				<h3>Название фотографии</h3>
				<p>Описание фотографии</p>
				<div class="site-tags"></div>
			</li>
			<li class="album-slider-item">
				<div class="album-slider-item-inner">
					<img id="img01" src="../client/site/images/album/img05.jpg" ng-click="goToImage('/photos/album_name/01')"/>
				</div>
				<h3>Название фотографии</h3>
				<p>Описание фотографии</p>
				<div class="site-tags"></div>
			</li>
			<li class="album-slider-item">
				<div class="album-slider-item-inner">
					<img id="img01" src="../client/site/images/album/img06.jpg" ng-click="goToImage('/photos/album_name/01')"/>
				</div>
				<h3>Название фотографии</h3>
				<p>Описание фотографии</p>
				<div class="site-tags"></div>
			</li>
			<li class="album-slider-item">
				<div class="album-slider-item-inner">
					<img id="img01" src="../client/site/images/album/img07.jpg" ng-click="goToImage('/photos/album_name/01')"/>
				</div>
				<h3>Название фотографии</h3>
				<p>Описание фотографии</p>
				<div class="site-tags"></div>
			</li>
			<li class="album-slider-item">
				<div class="album-slider-item-inner">
					<img id="img01" src="../client/site/images/album/img08.jpg" ng-click="goToImage('/photos/album_name/01')"/>
				</div>
				<h3>Название фотографии</h3>
				<p>Описание фотографии</p>
				<div class="site-tags"></div>
			</li>
			<li class="album-slider-item">
				<div class="album-slider-item-inner">
					<img id="img01" src="../client/site/images/album/img09.jpg" ng-click="goToImage('/photos/album_name/01')"/>
				</div>
				<h3>Название фотографии</h3>
				<p>Описание фотографии</p>
				<div class="site-tags"></div>
			</li>
			<li class="album-slider-item">
				<div class="album-slider-item-inner">
					<img id="img01" src="../client/site/images/album/img10.jpg" ng-click="goToImage('/photos/album_name/01')"/>
				</div>
				<h3>Название фотографии</h3>
				<p>Описание фотографии</p>
				<div class="site-tags"></div>
			</li>
		</ul>
	</div>
	<site-social></site-social>
</div>
