html {
	height: 100%;
}
body {
	height: 100%;
	background: #fff;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #202020;
	overflow: hidden;
	letter-spacing: 1px;
	@include respond-to(desktopMD) {
		font-size: 16px;
		line-height: 20px;
		overflow: auto;
	}
	&.pageLoaded {
		overflow: auto;
	}
	&.no-events {
		pointer-events: none;
	}
}
.page-wrapper {
	overflow: hidden;
	background: #fff;
}
.desktop-hidden {
	display: none;
	@include respond-to(tablet) {
		display: block;
	}
}
.admin {
	min-width: 1000px;
	overflow-y: auto;
	overflow-x: hidden !important;
	.page-wrapper {
		overflow: visible;
	}
}
.isMessage {
	pointer-events: none;
	.admin-page {
		-webkit-filter: grayscale(100%) blur(5px);
		filter: grayscale(100%) blur(5px);
	}
	.message-close {
		pointer-events: all;
	}
}
